@import 'font-face';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@include font-face('League Spartan','../fonts/league_spartan/leaguespartan-bold');
@include font-face('code_pro_demoregular','../fonts/codepro_regular/Code_Pro_Demo-webfont');

//fonts
$montserret:'Montserrat', sans-serif;
$league_spartan:'League Spartan', sans-serif;
$code_pro :'code_pro_demoregular', sans-serif;
//colors
$background-color-base:#404040;
$font-color-base:#f6f6f6;
$banner-background-color:#2a2a2a;
$orange-button-color:#fb8819;
$blue-button-color:#30cbec;
$info-color1:green;
$info-color2:purple;

//mixins

html,body{
	margin:0;
	padding:0;
}
body{
	font-family:$montserret;
	font-size:16px;
	line-height:1.5;
	font-weight:noraml;
	background-color:$background-color-base;
	color:$font-color-base;
}

h1{
	font-family:'League Spartan','sans-serif','arial';
}

.main{
	position:relative;
	width:100%;
	margin:0px auto;
	
	@media (min-width:48em){
		width:95%;
	}

	@media (min-width:62em){
		width:90%;
	}

	@media (min-width:75em){
		max-width:81.25rem;
	}
}

.logo-mobile{
	width:100%;
	background:darken($banner-background-color,5%);
	text-align:center;
	color:$font-color-base;
	height:46px;
}
.logo-mobile a{
	color:inherit;
	font-family:$league_spartan;
	font-size:1.2rem;
}
.search-box{
	width:100%;
	position:relative;
	background:transparent;
	height:46px;
}
.search-box input{
	height:inherit;
	padding:10px 20px;
	width:90%;
}

.banner{
	position:relative;
	display:block;
}
.banner:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:$banner-background-color url(../images/comp/banner.jpg) 8% 50% no-repeat;
	background-size:cover;
	opacity:0.6;
	z-index:-1;
}
.life-story,.merchandise{
	background-color:$info-color1;
}
.stats{
	background-color:$info-color2;
}

.util-height{
	height:auto;
	min-height:100vh;
}

.hidden{
	display:none;
}

//Buttons

.btn{
	border-radius:0;
	padding-top:0.625rem;
	padding-bottom:0.625rem;
}
.orange-btn{
	border-color:$orange-button-color;
	background:$orange-button-color;
	color:$font-color-base;
}
.orange-btn:hover,.orange-btn:focus,.blue-btn:focus,.orange-visited{
	background:darken($orange-button-color,5%);
	color:$font-color-base;
}
.blue-btn{
	border-color:$blue-button-color;
	background:$blue-button-color;
	color:$font-color-base;
}
.blue-btn:hover,.blue-btn:active,.blue-btn:focus,.blue-btn:visited{
	background:darken($blue-button-color,5%);
	color:$font-color-base;
}
.search-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/search.png') center center no-repeat;
}
.menu-button{
	position:absolute;
	top:0px;
	left:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$blue-button-color url('../images/menu.png') center center no-repeat;
}
.cross-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/cross.png') center center no-repeat;
}
//Form elements

input,textarea,button,select{
	border:none;
	border-radius:0;
}
input:focus,textarea:focus,button:focus,select:focus{
	outline:none;
}