@import 'font-face';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@include font-face('League Spartan','../fonts/league_spartan/leaguespartan-bold');
@include font-face('code_pro_demoregular','../fonts/codepro_regular/Code_Pro_Demo-webfont');

//fonts
$montserret:'Montserrat', sans-serif;
$league_spartan:'League Spartan', sans-serif;
$code_pro :'code_pro_demoregular', sans-serif;
//colors
$background-color-base:#404040;
$font-color-base:#f6f6f6;
$footer-background-color:#f5f5f5;
$banner-background-color:#2a2a2a;
$orange-button-color:#fb8819;
$blue-button-color:#30cbec;
$secondary-banner-color:#323232;

//mixins
@mixin create-button($color,$background,$border-color){
	color:$color;
	background-color:$background;
	border-color:$border-color;
	font-family:$league_spartan;
	text-transform:uppercase;
	&:hover,&:focus,&:visited,&:active{
		background-color:darken($background,5%);
		color:$color;
	}
}

*{
	box-sizing:border-box;
}

html,body{
	margin:0;
	padding:0;
}
body{
	font-family:$montserret;
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	background-color:$background-color-base;
	color:$font-color-base;
}
img{
	max-width:100%;
}
ul{
	padding:0;
	margin:0;
}
ul li{
	list-style:none;
}

h1{
	font-family:$league_spartan;
}
h2{
	font-family:$code_pro;
}
hr{
	margin:0 auto;
	border-top-color:$font-color-base;
	width:90%;
}
.main{
	position:relative;
	float:none;
	margin:0px auto;
	padding:0px;

	@media (min-width:48em){
		width:95%;
	}

	@media (min-width:62em){
		width:90%;
	}

	@media (min-width:75em){
		max-width:81.25rem;
	}
}
header{
	height:100px;
	width:100%;
}
.navbar-mobile,.search-box{
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:46px;
	width:100%;
	z-index:2;
}
.search-box{
	top:46px;
}

.search-box input{
	height:inherit;
	padding:10px 20px;
	width:90%;
}

.header-mobile{
	width:100%;
	min-height:100vh;
}
.logo-mobile{
	width:100%;
	background:darken($banner-background-color,5%);
	text-align:center;
	color:$font-color-base;
	height:46px;
}
.logo-mobile a{
	color:inherit;
	font-family:$league_spartan;
	font-size:1.2rem;
}

.hero{
	padding:10px 15px;
}
.hero h2{
	font-size:1.2rem;
}
div.quotes{
	width:65%;
}
div.quotes p{
	font-size:0.8rem
}
.banner{
	position:relative;
	display:block;
}
.banner:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:$banner-background-color url(../images/comp/banner.jpg) 8% 50% no-repeat;
	background-size:cover;
	opacity:0.5;
	z-index:-1;
}
.highlight{
	font-size:1.5rem;
}
.blue-highlight{
	font-size:1.8rem;
	color:$orange-button-color;
}
.orange-highlight{
	font-size:1.7rem;
	color:$blue-button-color;
}

.info{
	padding: 35px 10px 15px;
}
.info h2{
	font-size:1.5rem;
	text-align:center;
}
.info p{
	font-size:1rem;
	padding:20px 5px;
}
.life-story{
	background:$secondary-banner-color;
}
.lifer-story:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:$secondary-banner-color url('../images/comp/life-story.jpg') center center no-repeat;
	background-size:cover;
	opacity:0.5;
	z-index:-1;
}
.stats{
	background-color:$banner-background-color;
}
.merchandise{
	background-color:$secondary-banner-color;
}

.videos{
	text-align:center;
	background-color:$secondary-banner-color;
	padding-top:50px;
	padding:0px;
}
.videos h1{
	font-size:1.2rem;
	padding-bottom:25px;
}
.blue-section{
	background:$blue-button-color;
}
.orange-section{
	background:$orange-button-color;
}
div.video{
	width:95%;
	height:200px;
	margin:-20px auto 30px;
}
.blue-section .video{
	border:5px solid $orange-button-color;
}
.orange-section .video{
	border:5px solid $blue-button-color;
}
footer{
	background:$footer-background-color;
}
.footer-pic{
	border-radius:50%;
	margin:10px auto;
	background:url('../images/comp/footer-pic.jpg') center center no-repeat;
	background-size:cover;
	width:250px;
	height:250px;
}
.footer-links{
	text-align:center;
}
.social{
	margin:10px 10px;
}
.social li{
	display:inline-block;
}
.copyrights{
	background:$secondary-banner-color;
	width:90%;
	margin:0 auto;
	font-size:0.6rem;
	text-align:center;
	border-bottom:2px solid $orange-button-color;
}
.copyrights p{
	margin-bottom:0px;
	padding-top:5px;
	padding-bottom:5px;
}
//utilities

.util-height{
	height:auto;
	min-height:100vh;
}

.hidden{
	display:none;
}

//Buttons

.btn{
	border-radius:0;
	padding-top:0.625rem;
	padding-bottom:0.625rem;
}
.orange-btn{
	@include create-button($font-color-base,$orange-button-color,$orange-button-color);
}

.blue-btn{
	@include create-button($font-color-base,$blue-button-color,$blue-button-color);
}

.search-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/search.png') center center no-repeat;
}
.menu-button{
	position:absolute;
	top:0px;
	left:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$blue-button-color url('../images/menu.png') center center no-repeat;
}
.cross-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/cross.png') center center no-repeat;
}
.scroll-button,.story-button,.stats-button,.merchandise-button,.feedback-button{
	min-width:150px;
	padding-top:0.9375rem;
}
.scroll-button{
	background:$orange-button-color url('../images/scroll.png') 5px center no-repeat;
	padding-left:30px;
}
.story-button,.stats-button,.merchandise-button{
	background:$blue-button-color url('../images/arrow.png') 8px center no-repeat;
}
.stats-button{
	background-color:$orange-button-color;
}
.merchandise-button{
	padding-left:35px;
}
//Form elements

input,textarea,button,select{
	border:none;
	border-radius:0;
}
input:focus,textarea:focus,button:focus,select:focus{
	outline:none;
}