@import 'font-face';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@include font-face('League Spartan','../fonts/league_spartan/leaguespartan-bold');
@include font-face('code_pro_demoregular','../fonts/codepro_regular/Code_Pro_Demo-webfont');

//fonts
$montserret:'Montserrat', sans-serif;
//colors
$background-color-base:#404040;
$font-color-base:#f6f6f6;
$banner-background-color:orange;
$info-color1:green;
$info-color2:purple;
//mixins
html,body{
	margin:0;
	padding:0;
}
body{
	font-family:$montserret;
	font-size:16px;
	line-height:1.5;
	font-weight:noraml;
	background-color:$background-color-base;
	color:$font-color-base;
}

h1{
	font-family:'League Spartan','sans-serif','arial';
}

.main{
	position:relative;
	width:96%;
	margin:0px auto;
	
	@media (min-width:48em){
		width:95%;
	}

	@media (min-width:62em){
		width:90%;
	}

	@media (min-width:75em){
		max-width:81.25rem;
	}
}

.banner{

	background:$banner-background-color;
}
.life-story,.merchandise{
	background-color:$info-color1;
}
.stats{
	background-color:$info-color2;
}

.util-height{
	height:auto;
	min-height:100vh;
}

.hidden{
	display:none;
}