@import 'font-face';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@include font-face('League Spartan','../fonts/league_spartan/leaguespartan-bold');
@include font-face('code_pro_demoregular','../fonts/codepro_regular/Code_Pro_Demo-webfont');

//fonts
$montserret:'Montserrat', sans-serif;
$league_spartan:'League Spartan', sans-serif;
$code_pro :'code_pro_demoregular', sans-serif;
//colors
$background-color-base:#404040;
$font-color-base:#f6f6f6;
$font-color-dark:#252525;
$footer-background-color:#f5f5f5;
$banner-background-color:#2a2a2a;
$orange-button-color:#fb8819;
$blue-button-color:#30cbec;
$secondary-banner-color:#323232;
$navigation-background:#263134;
$image-border-color:#101010;
$image-background:#111111;
//mixins
@mixin create-button($color,$background,$border-color){
	color:$color;
	background-color:$background;
	border-color:$border-color;
	font-family:$league_spartan;
	text-transform:uppercase;
	&:hover,&:focus,&:visited,&:active{
		background-color:darken($background,5%);
		color:$color;
	}
}

*{
	box-sizing:border-box;
}

html,body{
	margin:0;
	padding:0;
	height:100%;
}
body{
	font-family:$montserret;
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	background-color:$background-color-base;
	color:$font-color-base;
}
img{
	max-width:100%;
}
ul{
	padding:0;
	margin:0;
}
ul li{
	list-style:none;
}

h1{
	font-family:$league_spartan;
}
h2{
	font-family:$code_pro;
}
hr{
	margin:0 auto;
	border-top-color:$font-color-base;
	width:90%;

	@media (min-width:62em){
		margin:0 10px;
	}
}
.main{
	position:relative;
	float:none;
	margin:0px auto;
	padding:0px;
	
	@media (min-width:34em){
		width:90%;
	}

	@media (min-width:48em){
		width:95%;
	}

	@media (min-width:62em){
		width:90%;
	}

	@media (min-width:75em){
		max-width:81.25rem;
	}
}
header{
	min-height:100px;
	width:100%;

	@media (min-width:75em){
		min-height:200px;	
	}
}

.header-mobile{
	width:100%;
}
.navbar-mobile,.search-box{
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:46px;
	width:100%;
	z-index:2;
}
.search-box{
	top:46px;
}
.search-box input{
	height:inherit;
	padding:10px 5% 10px 20px;
	width:95%;
}
.navigation-mobile{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:3;
	overflow:hidden;
}
.navigation-mobile:after{
	content:"";
	background:darken($background-color-base,100%);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.95;
	z-index:-1;
}
.navigation-mobile h1{
	width:85%;
	background:$footer-background-color;
	margin-bottom:0px;
	font-size:1.5rem;
	padding:15px 10px 10px;
	color:$font-color-dark;
	border-bottom:5px solid $orange-button-color;
}
.navigation-mobile ul{
	width:85%;
	background-size:cover;
	height:100%;
	padding:20px 25px;
	font-size:1.5rem;
	line-height:2;
	position:relative;
	z-index:0;
}
.navigation-mobile ul:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	opacity:0.5;
	z-index:-1;
	background:$secondary-banner-color url('../images/comp/sidebar-pic.jpg') 0 50% no-repeat;
	background-size:cover;
}
.navigation-mobile a{
	color:$font-color-base;
	padding:5px 15px 5px 0px;;
	border-bottom:5px solid $blue-button-color;
}
.logo-mobile{
	width:100%;
	background:darken($banner-background-color,5%);
	text-align:center;
	color:$font-color-base;
	height:46px;
}
.logo-mobile a,.logo-nonmobile a{
	color:inherit;
	font-family:$league_spartan;
	font-size:1.2rem;
}
.navigation-nonmobile{

	width:90%;
	margin:0px auto;
	background:$navigation-background;
	height:100px;
	position:relative;
	@media (max-width:62em){
		height:70px;
	}
}
.navigation-nonmobile ul{
	width:100%;
	height:100px;
	padding:0px 20px;
	position:relative;
	@media (max-width:62em){
		height:70px;
		padding:0px 15px;
	}
}
.navigation-nonmobile ul li{
	display:inline-block;
	height:100px;
	@media (max-width:62em){
		height:70px;
	}
}
.navigation-nonmobile ul li a{
	color:$font-color-base;
	font-size:1.6rem;
	font-family:$league-spartan;
	text-transform:uppercase;
	display:inline-block;
	padding:35px 20px 25px;
	min-width:200px;;
	text-align:center;

	&:hover{
		text-decoration:none;
	}
	@media (max-width:62em){
		font-size:1.2rem;
		padding:35px 20px 25px;
		min-width:100px;
	}
}
.navigation-nonmobile ul li a.active{
	background:$blue-button-color;
}
.navigation-nonmobile ul li a.search-button{
	min-width:auto;
}
.logo-nonmobile{
	height:100px;
	text-align:center;
	padding:25px 20px 15px;
}
.logo-nonmobile a,.footer-logo a{
	font-size:2rem;	
}
.hero{
	padding:10px 15px;
	position:static;
	@media (min-width:62em){
		margin-top:75px;
		padding:25px;
	}
}
.hero h2{
	font-size:1.2rem;

	@media (min-width:62rem){
		font-size:2rem;
	}
}
.hero h2:nth-child(3){
	@media (min-width:62em){
		//margin-bottom:70%;
	}
}
.highlight{
	font-size:1.5rem;

	@media (min-width:62rem){
		font-size:2.5rem;
	}
}
.blue-highlight{
	font-size:1.8rem;
	color:$orange-button-color;

	@media (min-width:62rem){
		font-size:2.8rem;
	}
}
.orange-highlight{
	font-size:1.7rem;
	color:$blue-button-color;

	@media (min-width:62rem){
		font-size:2.7rem;
	}
}
.hero-bottom{
	@media (min-width:62em){
		position:absolute;
		bottom:0;
		padding:10px 15px 15px 10%;

		.quotes:nth-child(2) > p{
			text-align:right;
			padding-right:25px;
		}
	}
}
div.quotes{
	width:65%;
	p{
		font-size:0.8rem
	}
	@media (min-width:62em){
		opacity:0.85;
		width:90%;
		p{
			font-size:1.2rem;
			padding-left:25px;
		}
	}
}

.banner{
	position:relative;
	display:block;
}
.banner:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:$banner-background-color url(../images/comp/banner.jpg) no-repeat;
	background-position:8% 50%;
	background-size:cover;
	opacity:0.5;
	z-index:-1;
	
	@media (min-width:34rem){
		background-position:0 50%;
	}
	@media (min-width:48rem){
		opacity:0.85;
		background-position:55% 50%;
	}
	
}

.info{
	padding: 35px 10px 15px;

	@media (min-width:62em){
		padding:60px 15px 25px 50px;
	}
}
.title h2{
	font-size:1.5rem;
	text-align:center;

	@media (min-width:62em){
		font-size:2rem;
		text-align:left;
		padding:5px 10px;
	}
}
.info p{
	font-size:1rem;
	padding:20px 5px;

	@media (min-width:62rem){
		padding:20px 10px;
	}
}
div.life-story,div.stats,div.merchandise{
	position:relative;
	z-index:0;
}
div.life-story{
	background:$secondary-banner-color;

	div.image-front{
		background:black url('../images/comp/life-story.jpg') center center no-repeat;
		background-size:cover;
	}
	div.image-behind{
		background:black url('../images/comp/story-back.jpg') center center no-repeat;
		background-size:cover;
	}
}
div.stats{
	background-color:$banner-background-color;

	div.image-front{
		background:black url('../images/comp/stats.jpg') center center no-repeat;
		background-size:cover;
	}
	div.image-behind{
		background:black url('../images/comp/stats-back.jpg') center center no-repeat;
		background-size:cover;
	}
}
div.merchandise{
	background-color:$secondary-banner-color;

	div.image-front{
		background:black url('../images/comp/merchandise.jpg') center center no-repeat;
		background-size:cover;
	}
	div.image-behind{
		background:black url('../images/comp/mer-back.jpg') center center no-repeat;
		background-size:cover;
	}
}
div.life-story:after,div.stats:after,div.merchandise:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-size:cover;
	opacity:0.1;
	z-index:-1;
	@media (min-width:48em){
		position:static;
	}
}
div.life-story:after{
	background:$secondary-banner-color url('../images/comp/life-story.jpg') center 10% no-repeat;
	@media (min-width:48em){
		background:none;
	}
}
div.stats:after{
	background:$banner-background-color url('../images/comp/stats.jpg') center 10% no-repeat;
	@media (min-width:48em){
		background:none;
	}
}
div.merchandise:after{
	background:$secondary-banner-color url('../images/comp/merchandise.jpg') center 60% no-repeat;
	@media (min-width:48em){
		background:none;
	}
}
div.cover-pic{

	position:relative;

	div.image-behind{
		width:50%;
		min-height:200px;
		margin-left:40%;
		position:relative;
		border:5px solid $image-border-color;
		&:after{
			content:"";
			position:absolute;
			width:50%;
			height:50%;
			background:$image-background;
			z-index:-1;
			top:75%;
			right:-10%;
		}
		&:before{
			content:"";
			position:absolute;
			width:25%;
			height:30%;
			background:black;
			z-index:-1;
			top:-15%;
			left:-15%;
		}
	}
	div.image-front{
		width:75%;
		min-height:300px;
		margin-bottom:25px;
		margin-top:-90px;
		position:relative;
		border:5px solid $image-border-color;
		&:after{
			content:"";
			position:absolute;
			width:30%;
			height:30%;
			background:$image-background;;
			z-index:-1;
			top:-20%;
			left:30%;
		}
	}
}

.videos{
	text-align:center;
	background-color:$secondary-banner-color;
	padding-top:50px;
	padding:0px;
	h1{
		font-size:1.2rem;
		padding-bottom:25px;
		padding-top:15px;

		@media (min-width:48em){
			font-size:2em;
			margin-bottom:45px;
			padding-top:35px;
		}
	}
}

.blue-section{
	background:$blue-button-color;
	border-bottom:5px solid $orange-button-color;
	padding:5px 5px;
}
.orange-section{
	background:$orange-button-color;
	border-bottom:5px solid $blue-button-color;
	padding:5px 5px;
}
div.video{
	width:98%;
	height:210px;
	margin:-20px auto 30px;
	position:relative;
	z-index:0;
	@media (min-width:62em){
		margin:-35px auto 75px;
		width:80%;
		height:300px;
	}
	@media (max-width:48em){
		margin:-35px auto 50px;
		width:95%;
		height:250px;
	}
}
div.video > a{
	color:$font-color-base;
	position:relative;
	top:28%;
}
div.video:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:0.75;
	z-index:-1;
	background:$secondary-banner-color;
}
div.video.vid-euro-final-ger:after{
	background:$secondary-banner-color url('../images/comp/euro-final-ger.jpg') center center no-repeat;
	background-size:cover;
}
div.video.vid-champians-league:after{
	background:$secondary-banner-color url('../images/comp/champians-league.jpg') center center no-repeat;
	background-size:cover;
}
div.video.vid-liverpool:after{
	background:$secondary-banner-color url('../images/comp/liverpool.jpg') center center no-repeat;
	background-size:cover;
}
div.video.vid-euro-final-ita:after{
	background:$secondary-banner-color url('../images/comp/euro-final-ita.jpg') center center no-repeat;
	background-size:cover;
}
div.video.vid-real-copa:after{
	background:$secondary-banner-color url('../images/comp/real-copa.jpg') center center no-repeat;
	background-size:cover;
}
div.video.vid-europa-final:after{
	background:$secondary-banner-color url('../images/comp/europa-final.jpg') center center no-repeat;
	background-size:cover;
}
.blue-section .video{
	border:5px solid $orange-button-color;
	@media (min-width:48em){
		float: right;
		margin-right:-5px;
	}
}
.orange-section .video{
	border:5px solid $blue-button-color;
	@media (min-width:48em){
		float: left;
		margin-left:-5px;
	}
}
footer{
	background:$footer-background-color;
	padding-top:25px;
	@media (min-width:48em){
		padding-top:70px;
	}
}
.footer-pic{
	border-radius:50%;
	margin:10px auto;
	background:url('../images/comp/footer-pic.jpg') center center no-repeat;
	background-size:cover;
	width:250px;
	height:250px;
}
.footer-logo{
	text-align:center
}
.footer-logo a{
	color:$font-color-dark;
}
.quick-links{
	@media (min-width:48em){
		padding-left:5%;
	}
}
.quick-links ul{
	@media (min-width:48em){
		padding-left:35px;
	}
}
.quick-links ul li a{
	@media (min-width:48em){
		font-size:1.5rem;
		line-height:2.2;
		font-family:$league-spartan;
		text-transform:uppercase;
		color:$font-color-dark;
		padding:15px 5px 0px 0px;
		border-bottom:5px solid $blue-button-color;
		margin-bottom:10px;
	}
	&:hover{
		text-decoration:none;
	}
}
.footer-links{
	text-align:center;
}
.social{
	margin:10px 10px;
	@media (min-width:48em){
		margin:45px 10px 10px;
	}
	li{
		display:inline-block;
	}
	a{
		margin-top:5px;
	}
}

.copyrights{
	background:$secondary-banner-color;
	width:90%;
	margin:0 auto;
	text-align:center;
	p{
		margin-bottom:0px;
		font-size:0.6rem;
		padding-top:5px;
		padding-bottom:5px;
		border-bottom:2px solid $orange-button-color;
		@media (min-width:48em){
			font-size:0.8rem;
			padding-top:10px;
			padding-bottom:10px;
			border-bottom:3px solid $orange-button-color;
		}
	}
}

//utilities

.util-height{
	height:auto;
	min-height:100vh;
}

.hidden{
	display:none;
}

.no-padding{
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
}
//Buttons

.btn{
	border-radius:0;
	padding-top:0.625rem;
	padding-bottom:0.625rem;
}
.orange-btn{
	@include create-button($font-color-base,$orange-button-color,$orange-button-color);
}

.blue-btn{
	@include create-button($font-color-base,$blue-button-color,$blue-button-color);
}

.search-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/search.png') center center no-repeat;

	@media (min-width:48rem){
		top:15%;
		right:20px;
		width:75px;
		height:70px;
	}
}
.menu-button{
	position:absolute;
	top:0px;
	left:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$blue-button-color url('../images/menu.png') center center no-repeat;
}
.cross-button{
	position:absolute;
	top:0px;
	right:0px;
	height:46px;
	width:50px;
	text-indent:-9999px;
	background:$orange-button-color url('../images/cross.png') center center no-repeat;
}
.scroll-button,.story-button,.stats-button,.merchandise-button,.feedback-button{
	min-width:150px;
	padding-top:0.9375rem;

	@media (min-width:62em){
		padding-top:1.25rem;
		padding-bottom:1rem;
		min-width:200px;
		margin-left:10px;
	}
}
.scroll-button{
	//background:$orange-button-color url('../images/scroll.png') 5px center no-repeat;
	//padding-left:30px;
	i{
		padding:0px 5px 0px 0px;
	}
	@media (min-width:62em){
		margin-bottom:10px;
	}
	
}
.feedback-button{
	
	@media (min-width:48em){
		margin-left:0px;
		margin-top:35px;
	}
	i{
		padding-right:5px;
		font-size:1.3rem;
	}
}
.story-button i,.stats-button i,.merchandise-button i{
	//background:$blue-button-color url('../images/arrow.png') 8px center no-repeat;
	position:absolute;
	left:20px;
	@media (min-width:62em){
		left:40px;
	}
}
.stats-button{
	//background-color:$orange-button-color;
}
.merchandise-button{
	padding-left:35px;
}
//Form elements

input,textarea,button,select{
	border:none;
	border-radius:0;
}
input:focus,textarea:focus,button:focus,select:focus{
	outline:none;
}