@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league_spartan/leaguespartan-bold.eot?") format("eot"), url("../fonts/league_spartan/leaguespartan-bold.woff2") format("woff2"), url("../fonts/league_spartan/leaguespartan-bold.woff") format("woff"), url("../fonts/league_spartan/leaguespartan-bold.ttf") format("truetype"), url("../fonts/league_spartan/leaguespartan-bold.svg#League_Spartan") format("svg"); }
@font-face {
  font-family: "code_pro_demoregular";
  src: url("../fonts/codepro_regular/Code_Pro_Demo-webfont.eot?") format("eot"), url("../fonts/codepro_regular/Code_Pro_Demo-webfont.woff2") format("woff2"), url("../fonts/codepro_regular/Code_Pro_Demo-webfont.woff") format("woff"), url("../fonts/codepro_regular/Code_Pro_Demo-webfont.ttf") format("truetype"), url("../fonts/codepro_regular/Code_Pro_Demo-webfont.svg#code_pro_demoregular") format("svg"); }
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  background-color: #404040;
  color: #f6f6f6; }

img {
  max-width: 100%; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

h1 {
  font-family: "League Spartan", sans-serif; }

h2 {
  font-family: "code_pro_demoregular", sans-serif; }

hr {
  margin: 0 auto;
  border-top-color: #f6f6f6;
  width: 90%; }

.main {
  position: relative;
  float: none;
  margin: 0px auto;
  padding: 0px; }
  @media (min-width: 48em) {
    .main {
      width: 95%; } }
  @media (min-width: 62em) {
    .main {
      width: 90%; } }
  @media (min-width: 75em) {
    .main {
      max-width: 81.25rem; } }

.logo-mobile {
  width: 100%;
  background: #1d1d1d;
  text-align: center;
  color: #f6f6f6;
  height: 46px; }

.logo-mobile a {
  color: inherit;
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem; }

.search-box {
  width: 100%;
  position: relative;
  background: transparent;
  height: 46px; }

.search-box input {
  height: inherit;
  padding: 10px 20px;
  width: 90%; }

.hero {
  padding: 5px 15px; }

.hero h2 {
  font-size: 1.2rem; }

div.quotes {
  width: 65%; }

div.quotes p {
  font-size: 0.8rem; }

.banner {
  position: relative;
  display: block; }

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #2a2a2a url(../images/comp/banner.jpg) 8% 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1; }

.highlight {
  font-size: 1.5rem; }

.blue-highlight {
  font-size: 1.8rem;
  color: #fb8819; }

.orange-highlight {
  font-size: 1.7rem;
  color: #30cbec; }

.info {
  padding: 35px 10px 15px; }

.info h2 {
  font-size: 1.5rem;
  text-align: center; }

.info p {
  font-size: 0.8rem;
  padding: 20px 5px; }

.life-story {
  background-color: #323232; }

.stats {
  background-color: #2a2a2a; }

.merchandise {
  background-color: #323232; }

.videos {
  text-align: center;
  background-color: #323232;
  padding-top: 50px;
  padding: 0px; }

.videos h1 {
  font-size: 1.2rem;
  padding-bottom: 25px; }

.blue-section {
  background: #30cbec; }

.orange-section {
  background: #fb8819; }

div.video {
  width: 95%;
  height: 200px;
  margin: -20px auto 30px; }

.blue-section .video {
  border: 5px solid #fb8819; }

.orange-section .video {
  border: 5px solid #30cbec; }

footer {
  background: #f5f5f5; }

.social {
  margin: 10px 10px;
  text-align: center; }

.social li {
  display: inline-block; }

.copyrights {
  background: #323232;
  width: 90%;
  margin: 0 auto;
  font-size: 0.6rem;
  text-align: center;
  border-bottom: 2px solid #fb8819; }

.copyrights p {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px; }

.util-height {
  height: auto;
  min-height: 100vh; }

.hidden {
  display: none; }

.btn {
  border-radius: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

.orange-btn {
  color: #f6f6f6;
  background: #fb8819;
  border-color: #fb8819;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase; }
  .orange-btn:hover, .orange-btn:focus, .orange-btn:visited, .orange-btn:active {
    background: #f67b04;
    color: #f6f6f6; }

.blue-btn {
  color: #f6f6f6;
  background: #30cbec;
  border-color: #30cbec;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase; }
  .blue-btn:hover, .blue-btn:focus, .blue-btn:visited, .blue-btn:active {
    background: #19c5ea;
    color: #f6f6f6; }

.search-button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 46px;
  width: 50px;
  text-indent: -9999px;
  background: #fb8819 url("../images/search.png") center center no-repeat; }

.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 46px;
  width: 50px;
  text-indent: -9999px;
  background: #30cbec url("../images/menu.png") center center no-repeat; }

.cross-button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 46px;
  width: 50px;
  text-indent: -9999px;
  background: #fb8819 url("../images/cross.png") center center no-repeat; }

.scroll-button, .story-button, .stats-button, .merchandise-button, .feedback-button {
  min-width: 150px; }

.scroll-button {
  background: #fb8819 url("../images/scroll.png") 5px center no-repeat;
  padding-left: 30px; }

.story-button, .stats-button, .merchandise-button {
  background: #30cbec url("../images/arrow.png") 8px center no-repeat; }

.stats-button {
  background-color: #fb8819; }

.merchandise-button {
  padding-left: 35px; }

input, textarea, button, select {
  border: none;
  border-radius: 0; }

input:focus, textarea:focus, button:focus, select:focus {
  outline: none; }

/*# sourceMappingURL=main.css.map */
